  <!-- Sidebar  -->
  <nav id="sidebar" style="height:100%;">
      <div class="sidebar-header">
          <h3 [routerLink]="['/HomePage']" [ngStyle]="{'cursor': 'pointer', 'color' : 'orange', 'font-family':'Microsoft JhengHei'}">回首頁</h3>
      </div>

      <ul class="list-unstyled components">
          <p>Welcome!!</p>

          <li>
              <a href="javascript:void(0);" routerLink="/poems">後赤壁賦</a>
          </li>

          <li class="active">
              <a href="#poemSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">詩詞賦(樣版控制)</a>
              <ul class="collapse list-unstyled" id="poemSubmenu">
                  <li>
                      <a href="javascript:void(0);" [routerLink]="['/poems']">後赤壁賦</a>
                  </li>
                  <li>
                      <a href="javascript:void(0);" [routerLink]="['/poems/poem1']">滿江紅</a>
                  </li>
                  <li>
                      <a href="javascript:void(0);" [routerLink]="['/poems/poem2']">正氣歌</a>
                  </li>
              </ul>
          </li>

          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">詩詞賦(程式控制)</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="javascript:void(0);" (click)="gotoPoemPageById('1')">後赤壁賦</a>
                  </li>
                  <li>
                      <a href="javascript:void(0);" (click)="gotoPoemPageById('2')">滿江紅</a>
                  </li>
                  <li>
                      <a href="javascript:void(0);" (click)="gotoPoemPageById('3')">正氣歌</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#">Portfolio</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>

      <ul class="list-unstyled CTAs">
          <li>
              <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
          </li>
          <li>
              <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
          </li>
      </ul>
  </nav>
