.highlightRow {
  background: rgb(243, 215, 56);
}

h2 {
  font-family: '微軟正黑體';
  font-weight: bolder;
}


input {
  text-align: center;
}

button {
  margin: 0.5rem;
}

.error-msg {
  font-family: '標楷體';
  color: red;
  font-weight: bolder;
  font-size: 15px;
}

.disableBtn {
  background: black;
}
